.primary {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
    padding: 11px 55px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
.primary:hover {
    background-color: rgba(255, 255, 255, 0.813);
    color: rgba(0, 39, 78, 0.6);
}

@media (max-width: 400px) {
    .primary {
        padding: 6px 10px;
        font-size: 7px;
        border-radius:5px;
        position: relative;
        top: -23px;
    }
}